/* Import Google Font */
@import url('//fonts.googleapis.com/css?family=Questrial');

/* Style Variables */
:root{
    /* Colours */
    --bgColour: #ECECEC;
    --mainColour: #2C3E50;
    --altColour: #1E824C;
    --errorColour: #EC644B;
    
    /* Misc */
    --font: 'Questrial', sans-serif;
    --fadeTime: 0.5s;
    --borderRadius: 30px;
}


/*******************
    OVERALL BODY
*******************/

body{
    background-color: var(--bgColour);
    color: black;
    font-family: var(--font);
}

/*******************
    WRAPPER
*******************/
.wrapper{
    padding: 0%;
}

/*******************
    HEADER
*******************/

header{
    padding: 20px;
}

header h1{
    text-align: center;
    font-size: 62px;
    color: var(--mainColour);
    
}

/*******************
    CONTENT
*******************/
.content{
    width: 60%;
    margin: auto;
}

/* Initial user information content */
#initialContent{
    text-align: center;
    box-sizing: border-box;
}

#initialContent input{
    font-size: 20px;
    width: 50%;
    padding: 15px;
    margin: 10px;
    border: 2px solid var(--mainColour);
    background-color: var(--bgColour);
}

#initialContent button{
    width: 50%;
    padding: 15px;
    margin: 40px;
    font-size: 20px;
    border: 2px solid var(--mainColour);
    background-color: var(--mainColour);
    transition: var(--fadeTime);
}

#initialContent select{
    width: 50%;
    font-size: 20px;
    padding: 15px;
    border: 2px solid var(--mainColour);
    background-color: var(--bgColour);
    transition: var(--fadeTime);  
    border-radius: var(--borderRadius);
}


/* Chat Window Content */
#chatWindow{
    height: 440px;
    overflow-y: scroll;
}

#chatMessage{
    width: auto;
    margin-right: 30px;
    min-height: 10px;
    padding: 20px;
    font-size: 16px;
    display: flex;
    border-radius: var(--borderRadius);
    
}
.userChatMessage{
    background-color: var(--mainColour);
    color: var(--bgColour);
}
.supportChatMessage{
    background-color: var(--altColour);
    color: var(--bgColour);
}
.errorChatMessage{
    background-color: var(--errorColour);
    color: var(--bgColour);
}
.userProfile{
    font-weight: bold;
    height: auto;
    padding-right: 15px;
    margin-right: 15px;
    max-width: 150px;
    border-right: 3px solid var(--bgColour);
    margin-top: auto;
    margin-bottom: auto;
}

/* Chat window scrollbar */
#chatWindow::-webkit-scrollbar {
    width: 20px;
}
 
#chatWindow::-webkit-scrollbar-track {
    background-color: var(--bgColour);
}
 
#chatWindow::-webkit-scrollbar-thumb {
    background-color: #636363;
    border-radius: var(--borderRadius);
}

/* Chat status section */
#chatStatus{
    padding: 20px;
    width: 80%;
    font-size: 16px;
    color:  var(--altColour);  
}
.chatStatusPositive{
    color:  var(--altColour);  
}

.chatStatusNegative{
    color:  var(--errorColour);  
}
#connectionInfoArea{
    display: flex;
}
#connectionButtons{
    width: auto;
    padding: 20px;
}
.disconnectButton{
    border: none;
    font-size: 12px;
    background-color: var(--errorColour);
    color: white;
    padding: 4px;
    width: auto;
}
.disconnectButton:hover{
    opacity: 0.8;
    background-color: var(--errorColour);
    color: white;
    transition: var(--fadeTime);
    cursor: pointer;
}


/* Chat Input Section */

hr{
    opacity: 0.5;
}

#inputBar{
    padding-top: 20px;
    text-align: left;
}

input{
    padding: 15px;
    font-size: 20px;
    width: 70%;
    border: 2px solid var(--mainColour);
    background-color: var(--bgColour);
    border-radius: var(--borderRadius);
}
button{
    color: var(--bgColour);
    padding: 15px;
    width: 20%;
    font-size: 20px;
    border: 2px solid var(--mainColour);
    background-color: var(--mainColour);
    transition: var(--fadeTime);
    border-radius: var(--borderRadius);
}

button:hover, #initialContent button:hover{
    background-color: var(--bgColour);
    color: var(--mainColour);
    transition: var(--fadeTime);
    cursor: pointer;
}

/*******************
    FOOTER
*******************/
footer{
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    margin: 20px;
    font-size: 12px;
    color: var(--darkest);
}